@model IEnumerable<JobTracks.Areas.Recruiter.Data.AssignedJobViewModel>

@{
    ViewBag.Title = "Recruiter Dashboard";
    Layout = "~/Areas/Recruiter/Views/Shared/_Layout1.cshtml";
}

<h2>My Assigned Jobs</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Job Title</th>
            <th>Tech Stack</th>
            <th>Status</th>
            <th>Company</th>
            <th>Created</th>
            <th>Tentative Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var job in Model)
        {
            <tr>
                <td>@job.Title</td>
                <td>@job.TechStack</td>
                <td>@job.Status</td>
                <td>@job.CompanyName</td>
                <td>@job.CreatedDate?.ToString("dd-MMM-yyyy")</td>
                <td>@job.TentativeDate?.ToString("dd-MMM-yyyy")</td>
            </tr>
        }
    </tbody>
</table>
