@using PagedList;
@using PagedList.Mvc;


@model IPagedList<JobTracks.Areas.Recruiter.Data.AssignedJobViewModel>


<link href="~/Content/PagedList.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

@{
    ViewBag.Title = "Recruiter Dashboard";
    Layout = "~/Areas/Recruiter/Views/Shared/_Layout1.cshtml";
}

<h2>My Assigned Jobs</h2>

<p>
    @using (Html.BeginForm("Dashboard", "Recruiter", FormMethod.Get))
    {
        <b>Search By:</b> @Html.RadioButton("SearchBy", "Job Title", true) <text>Job title</text>
        @Html.RadioButton("SearchBy", "Tech Stack") <text>Tech Stack</text>
        @Html.RadioButton("SearchBy", "Company") <text>Company</text>
        @Html.RadioButton("SearchBy", "Status") <text> Status </text> <br /> <br />
        @Html.TextBox("Search")<input type="submit" value="Search" />
    }

</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Job Title</th>
            <th>Tech Stack</th>
            <th>Status</th>
            <th>Company</th>
            <th>Created</th>
            <th>Tentative Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var job in Model)
        {
            <tr>
                <td>@job.Title</td>
                <td>@job.TechStack</td>
                <td>@job.Status</td>
                <td>@job.CompanyName</td>
                <td>@job.CreatedDate?.ToString("dd-MMM-yyyy")</td>
                <td>@job.TentativeDate?.ToString("dd-MMM-yyyy")</td>
            </tr>
        }
    </tbody>
</table>


@Html.PagedListPager(Model, page => Url.Action("Dashboard", new { page, SearchBy = Request.QueryString["SearchBy"], Search = Request.QueryString["Search"] })
, new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true })
