@model JobTracks.Areas.Admin.Data.Applicant_Master

@{
    ViewBag.Title = "Delete Applicant";
    Layout = "~/Areas/Recruiter/Views/Shared/_Layout1.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container-fluid px-4">
    <h2 class="mb-4 text-danger">Delete Applicant</h2>

    <h5 class="text-muted">Are you sure you want to delete this applicant?</h5>

    <div class="card mt-3">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.FirstName)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.FirstName)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.LastName)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.LastName)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Last_Qualification)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Last_Qualification)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.PassOutYear)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.PassOutYear)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.YearOfExperience)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.YearOfExperience)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Resume)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Resume)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Status)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Status)</dd>
            </dl>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="mt-4">
            <input type="submit" value="Delete" class="btn btn-danger" />
            @Html.ActionLink("Cancel", "View_Applcants", null, new { @class = "btn btn-outline-secondary ms-2" })
        </div>
    }
</div>
