@model IEnumerable<JobTracks.Areas.Admin.Data.Applicant_Master>

@{
    ViewBag.Title = "View_Applcants";
}

<h2>View_Applcants</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Last_Qualification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PassOutYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearOfExperience)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Last_Qualification)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PassOutYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearOfExperience)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Resume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AppLicant_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.AppLicant_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AppLicant_id })
        </td>
    </tr>
}

</table>
