@model JobTracks.Areas.Admin.Data.Job_Master
@{
    ViewBag.Title = "Edit Work Assignment";
    Layout = "~/Areas/TeamLeader/Views/Shared/_Layout1.cshtml";
}
<h2 class="text-primary">Edit Assigned Work</h2>

@using (Html.BeginForm("AssignWorkEdit", "TeamLeader", FormMethod.Post, new { @class = "container-fluid px-4" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Job_id)

    <div class="row g-4">
        <div class="col-md-6">
            @Html.LabelFor(m => m.Title)
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })

            @Html.LabelFor(m => m.Description)
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = 3 })
            @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })

            @Html.LabelFor(m => m.Tech_Stack)
            @Html.TextBoxFor(m => m.Tech_Stack, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Tech_Stack, "", new { @class = "text-danger" })

            @Html.LabelFor(m => m.status)
            @Html.DropDownListFor(m => m.status, new SelectList(new[] { "Open", "In Progress", "Closed" }, Model.status), "Select Status", new { @class = "form-select" })
            @Html.ValidationMessageFor(m => m.status, "", new { @class = "text-danger" })

            @Html.LabelFor(m => m.RequiredCount)
            @Html.TextBoxFor(m => m.RequiredCount, new { @class = "form-control"})
            @Html.ValidationMessageFor(m => m.RequiredCount, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-6">
            @Html.Label("Company Name")
            @Html.DropDownListFor(m => m.Company_Id, (SelectList)ViewBag.CompanyList, "Select Company", new { @class = "form-select" })
            @Html.ValidationMessageFor(m => m.Company_Id, "", new { @class = "text-danger" })

            @Html.Label("Team Leader")
            @Html.DropDownListFor(m => m.TeamLeader_Id, (SelectList)ViewBag.TLList, "Select Team Leader", new { @class = "form-select" })
            @Html.ValidationMessageFor(m => m.TeamLeader_Id, "", new { @class = "text-danger" })

            @Html.Label("Recruiter")
            @Html.DropDownListFor(m => m.Recruiter_Id, (SelectList)ViewBag.RecruiterList, "Select Recruiter", new { @class = "form-select" })
            @Html.ValidationMessageFor(m => m.Recruiter_Id, "", new { @class = "text-danger" })

            @Html.LabelFor(m => m.TentativeDate)
            <input type="date"
                   name="DateOfBirth"
                   class="form-control"
                   value="@(Model.TentativeDate?.ToString("yyyy-MM-dd"))" />

            @Html.ValidationMessageFor(m => m.TentativeDate, "", new { @class = "text-danger" })
        </div>

        <div class="col-12 mt-4">
            <button type="submit" class="btn btn-primary">Save Changes</button>
            @Html.ActionLink("Back to List", "Company", "TeamLeader", null, new { @class = "btn btn-outline-secondary ms-2" })
        </div>
    </div>
}
