@model IEnumerable<JobTracks.Areas.Admin.Data.Job_Master>

@{
    ViewBag.Title = "Company";
}

<h2>Company</h2>

<p>
    @Html.ActionLink("Add New Company", "CreateCompany", "null", new { @class = "btn btn-sm btn-outline-primary" }) |  @Html.ActionLink("Assign Work", "AssignWork", "null", new { @class = "btn btn-sm btn-outline-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tech_Stack)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.TentativeDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company_Master)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
    
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tech_Stack)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.TentativeDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company_Master.Company_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User1.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Username)
        </td>
        <td>
        <td>
            <span  style="white-space: nowrap;">
                @Html.ActionLink("Edit", "AssignWorkEdit", new { id = item.Job_id }, new { @class = "btn btn-sm btn-outline-primary" })
                @Html.ActionLink("Delete", "AssignWorkDelete", new { id = item.Job_id }, new { @class = "btn btn-sm btn-outline-danger" })
            </span>
        </td>
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back to Dashboard", "Dashboard" , null , new { @class = "btn btn-sm btn-outline-primary" })
</div>