@using PagedList;
@using PagedList.Mvc;


@model IPagedList<JobTracks.Areas.TeamLeader.Data.RecruiterSummaryViewModel>

<link href="~/Content/PagedList.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

@{
    ViewBag.Title = "Recruiter Activity Report";
}

<h2>Recruiter Activity Report</h2>

<p>
    @using (Html.BeginForm("RecruiterWorkDetail", "TeamLeader", FormMethod.Get))
    {
        <b>Search By:</b> @Html.RadioButton("SearchBy", "Job Title", true) <text>Job title</text>
        @Html.RadioButton("SearchBy", "Company") <text>Company</text>
        @Html.RadioButton("SearchBy", "Status") <text> Status </text> <br /> <br />
        @Html.TextBox("Search")<input type="submit" value="Search" />
    }

</p>


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Recruiter</th>
            <th>Applicant</th>
            <th>Job Title</th>
            <th>Company</th>
            <th>Status</th>
            <th>Assigned Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.RecruiterName</td>
                <td>@item.ApplicantName</td>
                <td>@item.JobTitle</td>
                <td>@item.CompanyName</td>
                <td>@item.Status</td>
                <td>@(item.AssignedDate != null ? string.Format("{0:dd-MMM-yyyy}", item.AssignedDate) : "-")</td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("RecruiterWorkDetail", new { page, SearchBy = Request.QueryString["SearchBy"], Search = Request.QueryString["Search"] })
, new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true })
