@model JobTracks.Areas.Admin.Data.Job_Master

@{
    ViewBag.Title = "Assign Work - Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}

<h2 class="text-primary">Edit Assigned Work</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row g-3">
        @Html.HiddenFor(model => model.Job_id)

        <div class="col-md-6">
            <label class="form-label">@Html.DisplayNameFor(m => m.Title)</label>
            @Html.EditorFor(m => m.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-6">
            <label class="form-label">@Html.DisplayNameFor(m => m.Description)</label>
            @Html.EditorFor(m => m.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-6">
            <label class="form-label">@Html.DisplayNameFor(m => m.Tech_Stack)</label>
            @Html.EditorFor(m => m.Tech_Stack, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Tech_Stack, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-6">
            <label class="form-label">@Html.DisplayNameFor(m => m.status)</label>
            @Html.DropDownListFor(m => m.status,
                new SelectList(new[] { "Open", "In Progress", "Closed" }, Model.status),
                new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.status, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-6">
            <label class="form-label">Company Name</label>
            @Html.DropDownListFor(m => m.Company_Id,
                (SelectList)ViewBag.CompanyList, "Select Company",
                new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Company_Id, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-6">
            <label class="form-label">Team Leader</label>
            @Html.DropDownListFor(m => m.TeamLeader_Id,
                (SelectList)ViewBag.TLList, "Select Team Leader",
                new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.TeamLeader_Id, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-6">
            <label class="form-label">Recruiter</label>
            @Html.DropDownListFor(m => m.Recruiter_Id,
                (SelectList)ViewBag.RecruiterList, "Select Recruiter",
                new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Recruiter_Id, "", new { @class = "text-danger" })
        </div>

        <div class="col-12 mt-4">
            <button type="submit" class="btn btn-primary">Save</button>
            @Html.ActionLink("Back to List", "Company", "Admin", new { }, new { @class = "btn btn-outline-secondary ms-2" })
        </div>
    </div>
}
